<img width="500" height="500" class="album-art" src="<%=@album.image_url%>">
<h1><%=@album.name %></h1>
<h2>by <%=@album.artist.name%></h2>
<h3>year released: <%=@album.year_released%></h3>
<h3>genre: <%=@album.genre%></h3>
<% if @album.notes != "" %>
  <h3>notes: <%=@album.notes%></h3>
<% end %>

<br><br>

<button class="btn-primary" onclick="location.href='/albums/<%=@album.id%>/edit'">Edit Album</button>

<form method="post" action="/albums/<%=@album.id%>/delete">
<input type="hidden" id="hidden" name="_method" value="delete">
<button class="btn-primary" type="submit" value="delete">Delete Album</button>
</form>

<button class="btn-primary" onclick="location.href='/albums'">Back to Your Collection</button>